body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.logo {
  background-color: #1f2937;
  color: white;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #f9faf8;
  padding: 0 300px;
}

.elogo {
  display: flex;
  font-size: 24px;
  align-items: center;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

a {
  color: white;
  text-decoration: none;
}

.content-one {
  background-color: #1f2937;
  color: white;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  padding: 0 280px;
}

.thetext {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  width: 400px;
}

.hero-sub {
  font-size: 18px;
  width: 500px;
  margin-bottom: 5px;
}

.image {
  width: 550px;
  height: auto;
  flex-shrink: 0;
}

.buttons {
  display: flex;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 8px;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: 120px;
  color: white;
  border: 0;
}

.images {
  display: flex;
  height: 500px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.realones {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-grow: 1;
}

.children {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  font-size: 40px;
  color: #1f2937;
  font-weight: bold;
}

.quote {
  display: flex;
  background-color: #e5e7eb;
  color: #1f2937;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.frase {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  display: flex;
  max-width: 700px;
}

.autor {
  margin-left: 470px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 25px;
}

.call {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #3882f6;
  display: flex;
  height: 150px;
  width: 1100px;
  border-radius: 12px;
  color: #f9faf8;
  font-size: 24px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.buttons.two {
  display: flex;
  color: #f9faf8;
  border-radius: 8px;
  border: 3px solid white;
  padding: 8px;
  background: transparent;
  cursor: pointer;
  width: 120px;
  justify-content: center;
  font-weight: bold;
  margin-right: 150px;
  font-size: 18px;
}

.cta {
  font-weight: bold;
  font-size: 30px;
}

.footer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  color: white;
  height: 70px;
  margin-top: auto;
}

img {
  width: 150px;
  height: 150px;
}

.text {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
